:root {
	--sm: 576px;
	--md: 768px;
	--lg: 1024px;
	--box-shadow: #cfcfcf;
	--yellow-bg: #d5b700;
	--light-yellow-bg: #e2c95f;
	--text-yellow: #b28f04;
}

html, body {
	background: var(--light-yellow-bg);
	color:#000;
}
.page18 hr {
	border: 3px solid #000;
	margin:0px;
}
.page18 dt{
	font-weight:normal;
}


.page18 .form-background {
	background: #fcf8ee;
	box-shadow: 5px 5px 10px var(--box-shadow);
}

.page18 .section-activity {
	background: #fff;
}

.page18 .section-activityA .form-group {
	margin-bottom:0px;
}

.page18 .section-activityA label {
	margin-bottom:0px;
}

.page18 .section-activityA label {
	margin-bottom:0px;
}

.page18 .section-activityC-comment {
	background-color: var( --dark-grey-bg);
}

.page18 .section-activityC-comment li::marker {
	font-family: Campton-Light;
	font-size: var(--font-9pt);
	content: '\2014';
}

.page18 .section-img img {
	box-shadow: 5px 5px 10px var(--box-shadow);
}


/* Mobile devices (576px and down) */
@media only screen and (max-width: 576px) {

	.page18 h1 {
		overflow-wrap: break-word;
	}
}

/* Ipad devices (above 576px and below 768px) */
@media only screen and (min-width: 576px) and (max-width: 768px) {
	
}

/* Desktop devices (768px and up) */
@media only screen and (min-width: 768px) {
}
