:root {
	--box-shadow: #cfcfcf;
	--light-grey-text: #808284;
}

.page12 hr {
	border: 3px solid var(--lesson-background-olive);
	margin:0px;
}
.page12 dt {
	font-weight: normal;
}
.page12 .section-border {
	border-top: 7px solid var(--lesson-background-olive);
}

.page12 .border-title {
	color: var( --lesson-background-olive);
	background: #fff;
	font-size: var(--font-9pt);
	font-weight: bold;
	padding-left: 8px;
	font-family: Campton-Book;
	width: auto;
	float:right;
	margin-top:-15px;
}

.page12 .table th {
	background: var( --lesson-background-olive);
	color:#fff;
}

.page12 .table td {
	background: #e9e9e1;
	font-family: Campton-Light;
	font-size: var(--font-9pt);
}

.page12 .table thead th {
	border-bottom: 2px solid #fff;
}

.page12 .table-bordered th, .page12 .table-bordered td {
	border: 2px solid #fff;
	vertical-align: middle;
}

.page12 .table-bordered td label {
	padding: 0;
	margin: 0;
}

.page12 .section-activity34 .table-bordered td {
	border: 2px solid #fff;
	vertical-align: middle;
	text-align: center;
}

.page12 .section-activity35 { 
	margin-left: 60px;
}

.page12 .section-activity35 ul {
	list-style-type: none;
	margin: 0px;
}

.page12 .section-activity35 li {
	color: #3F5795;
	font-family: marydale;
	font-size: var(--font-11pt);
}
.page12 .section-activity35 li::before {
	font-family: Lyon-Text-Black;
	font-size: var(--font-9pt);
	content: '\2014';
	margin-left: -20px;
	padding-right: 2px;
}

.page12 .bell-icon {
	color: var(--lesson-background-olive);
}

.page12 .section-attention-blocks {
	background-color: #c6c8b3;
	padding: 1%;
	padding-left: 3%;
	margin: 0;
}


.page12 .spl-text {
	color: #3F5795;
	font-family: marydale;
	font-size: var(--font-11pt);
}
.page12 .audio-trans-link {
	cursor: pointer;
	text-decoration: none;
	color: #000;
}
.page12 .audio-trans-link1 {
	text-decoration: none;
	color: #000;
	cursor:auto;
}


/* Mobile devices (576px and down) */
@media only screen and (max-width: 576px) {
	.page12 .border-title {
		margin-left: 5px;
	}
	.page12 .section-settings-container{
		position:initial;
		margin-left:40px;

	}

	.page12 .section-settings-blocks {
			margin:0;
	}
}

/* Ipad devices (above 576px and below 768px) */
@media only screen and (min-width: 576px) and (max-width: 768px) {
	.page12 .border-title {
		margin-left: 5px;
	}
}

/* Desktop devices (768px and up) */
@media only screen and (min-width: 768px) {
}

